<%= form_with(model: contact, local: true, url: confirm_contacts_path) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contact_form">
    <div class="contact_content">
      <%= form.label "問い合わせ先" %>
      <p><%= @contact.contact_user_name %>さん</p>
      <%= form.hidden_field :contact_user_name %>
      <%= form.hidden_field :contact_user_email %>
      <%= form.hidden_field :user_name %>
    </div>

    <div class="contact_content">
      <%= form.label "問い合わせ内容" %>
      <%= form.text_area :contact_content %>
    </div>
    <div class="contact_content">
      <%= form.label "添付ファイル" %>  <!--- あとで実装 --->
      <%= form.file_field :contact_img %>
    </div>
  </div>


  <div class="contact_confirm">
    <%= form.submit "送信確認", class:"btn" %>
  </div>
<% end %>
