



<body>
  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <!--- GlobalNavi --->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <!--- ハンバーガーメニュー --->
            <span class="sr-only">Community Management System</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Community Management System", tops_path, class: "navbar-brand" %>
        </div>
        <!--- GlobalNavi[PC] --->
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/users">メンバー検索</a></li>
            <li><a href="/posts">掲示板</a></li>
            <li><a href="/contacts">メッセージ</a></li>
            <li><%= link_to "マイページ", user_path(current_user.id) %></li>
            <li>
              <% if logged_in? %>
              <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>  <!--- /container-fluid --->
    </nav>


    <div class="content">
      <div class="main_content">

        <!--- PageTitle --->
        <div class="page_title">
          <h3>メッセージ一覧</h3>
        </div>

        <!--- 受信メッセージ --->
        <div class="message_index message_index_space">
          <div class="subtitle">
            <p>受信メッセージ一覧</p>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>送信者</th>
                <th>送付先</th>
                <th>送付メッセージ</th>
                <th></th><th></th>
              </tr>
            </thead>

            <tbody>
              <% @reception_msg.each do |reception_msg| %>
                <tr>
                  <td><%= reception_msg.id %></td>
                  <td><%= reception_msg.user_name %></td>
                  <td><%= reception_msg.contact_user_name %>さん</td>
                  <td><%= reception_msg.contact_content %></td>
                  <td><%= link_to '詳細を見る', contact_path(reception_msg.id) %></td>
                  <td><%= link_to '削除', contact_path(reception_msg.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div> <!--- /message_index --->

        <!--- 送信メッセージ --->
        <div class="message_index">
          <div class="subtitle">
            <p>送信メッセージ一覧</p>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>送信者</th>
                <th>送付先</th>
                <th>送付メッセージ</th>
                <th></th><th></th>
              </tr>
            </thead>

            <tbody>
              <% @send_msg.each do |send_msg| %>
                <tr>
                  <td><%= send_msg.id %></td>
                  <td><%= send_msg.user_name %></td>
                  <td><%= send_msg.contact_user_name %>さん</td>
                  <td><%= send_msg.contact_content %></td>
                  <td><%= link_to '詳細を見る', contact_path(send_msg.id) %></td>
                  <td><%= link_to '削除', contact_path(send_msg.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div> <!--- /message_index --->

      </div> <!-- /main_content --->
    </div> <!-- /content -->

    <footer class="footer">
      <p>Hideki Fujimoto test application</p>
    </footer>

  </div> <!--- /container --->
</body>
