<%= form_with(model: @post, local: true, url: choose_new_or_edit) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post_new_index">
    <div class="post_item post_title">
      <p><span class="bold">投稿者：</span>
        <%= @post.post_user_name %></p>
        <%= form.hidden_field :post_user_name %>
    </div>
    <div class="post_item">
      <p><span class="bold">タイトル</span>(Post title)<span class="bold">：</span>
        <%= form.text_field :post_title %></p>
    </div>
    <div class="post_item">
      <span class="bold">投稿内容</span>(Post Content)
      <%= form.text_area :post_content %>
    </div>
    <div class="post_item">
      <%= form.label "画像ファイル" %>
      <div class="post_img_field post_img_field_dotted">
        <p>画像1：<%= form.file_field :post_image_1 %></p>
        <p>画像2：<%= form.file_field :post_image_2 %></p>
        <p>画像3：<%= form.file_field :post_image_3 %></p>
        <%= form.hidden_field :post_image_1_cache %>
        <%= form.hidden_field :post_image_2_cache %>
        <%= form.hidden_field :post_image_3_cache %>
      </div> <!--- /post_img_field --->
    </div>
  </div>

  <div class="post_submit_btn">
    <%= form.submit "投稿する",:class=>"btn" %>
  </div>

<% end %>

<div class="return_post font-blue">
  <%= link_to "掲示板に戻る", posts_path %>
</div>
