

<body>
  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <!--- GlobalNavi --->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <!--- ハンバーガーメニュー --->
            <span class="sr-only">Community Management System</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Community Management System", tops_path, class: "navbar-brand" %>
        </div>
        <!--- GlobalNavi[PC] --->
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/users">メンバー検索</a></li>
            <li><a href="/posts">掲示板</a></li>
            <li><a href="/contacts">メッセージ</a></li>
            <li><%= link_to "マイページ", user_path(current_user.id) %></li>
          </ul>
        </div>
      </div>  <!--- /container-fluid --->
    </nav>

    <div class="content">
      <div class="main_content">

        <!--- PageTitle --->
        <div class="page_title">
          <h3>投稿詳細</h3>
        </div>

        <div>
          <div class="post_item post_title row">
            <p><span class="bold">投稿者：</span>
              <%= @post.post_user_name %></p>
            <p><span class="bold">タイトル：</span>
              <%= @post.post_title %></p>
          </div>
          <div class="post_item row">
            <p><span class="bold">投稿内容</span></p>
            <%= simple_format(@post.post_content) %>
          </div>

          <div class="post_item row">
            <p><span class="bold">画像ファイル</span></p>
              <div class="post_img col-md-4">
                <p>画像1</p>
                <%= image_tag @post.post_image_1 %>
              </div>
              <div class="post_img col-md-4">
                <p>画像2</p>
                <%= image_tag @post.post_image_2 %>
              </div>
              <div class="post_img col-md-4">
                <p>画像3</p>
                <%= image_tag @post.post_image_3 %>
              </div>
            </div> <!--- /post_item --->
          </div> <!--- /post_new_index --->

        <div class="bookmark_content">
          <% unless @post.user_id.to_s == current_user.id %>
            <% if @bookmark.present? %>
              <p>この投稿をお気に入りから解除しますか？</p>
              <%= link_to 'お気に入り解除する', bookmark_path(post_id: @post.id), method: :delete, class: 'btn btn-danger' %>
              <% else %>
              <p>この投稿をお気に入りに追加しますか？</p>
              <%= link_to 'お気に入りする', bookmarks_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
            <% end %> <!--- /if @bookmark.present? --->
          <% end %> <!--- /unless @post.user_id.to_s == current_user.id --->
        </div>

        <div class="return_post font-blue">
          <%= link_to '掲示板に戻る', posts_path %>
        </div>


      </div> <!-- /main_content --->
    </div> <!-- /content -->

    <footer class="footer">
      <p>Hideki Fujimoto test application</p>
    </footer>

  </div> <!--- /container --->
</body>
